<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>JordanDeLoach.com: {{ page.title }}</title>
<link rel="stylesheet" href="/media/css/card.css" type="text/css" />
<link rel="stylesheet" href="/media/css/syntax.css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1708234-2']);
  _gaq.push(['_setDomainName', '.jordandeloach.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper">
<div id="head">
<a href="http://jordandeloach.com"><h2>Jordan DeLoach.com</h2></a>
</div>
<div id="card">
{{ content }}
</div>
</div>
</body>
</html>
